.textHead {
    color: #95C623
}
.orange {
    color: #E55812
}
#head{
    background-color: #0E4749
}

#whole {
    background-color: #002626;
}

.tan {
    background-color: #EFE7DA;
}

#userSearch {
   background-color: #95C623 
}
